#pycharm
.idea/
.DS_Store

__pycache__/
*.py[cod]
*$py.class

#django stuff:
local_settings.py
*.sqlite3

#database migrations
*/migrations/*.py
*/migrations/__init__.py

requirements.txt
upload_js.html
js测试.html
访问网络文件.py
随机字符串.py
画图.py

应用公钥RSA2048.txt
应用私钥RSA2048.txt
支付宝公钥.txt
cos_delete_demo.py
test.py
test.html
.gitignore

venv/